<div style ="vertical-align: top; width: 45%; display: inline-block; border: 2px solid black; margin 10px;">

    <h2 style="text-algin: center;"> Register</h2>
    <partial style="text-align: center;" name="RegPartial"></partial>
</div>

<div style ="vertical-align: top; width: 45%; display: inline-block; border: 2px solid black; margin: 10px;">

    <h2 style="text-align: center;"> Login</h2>
    <partial style="text-align: center;" name="LogPartial"></partial>
</div>