@model LogUser
<div>
    <span asp-validation-for="LoginEmail"></span>
    <span asp-validation-for="LoginPassword"></span>
</div>

<form asp-action="Login" asp-controller="Home" method="post">
    
    <div>
        <label asp-for="LoginEmail"></label>
        <input asp-for="LoginEmail"><br>
    </div>
    <div>
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword"><br>
    </div>
    <div>
        <input type="submit" value = "LOGIN">
    </div>

    </form>


